@using Newtonsoft.Json
@model BrainShare.ViewModels.NotificationSettingsViewModel
@{
    Layout = null;
}
<script src="~/Scripts/Views/Profile/SettingsTabs/NotificationSettingsViewModel.js"></script>
<script type="text/javascript">
    $(function () {
        var model = new NotificationSettingsViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model, $(".settings-body-wrapper")[0]);
        console.log(model);
    });
</script>
<!-- ko with: model -->
<div class="notifications-content">
    <p class="notification-settings-label">Настройка оповещений</p>
    
    <table class="table email-settings-table">
        <tr>
            <td class="span6">Уведомлять о появление книг которее я ищу</td> 
            <td><input type="checkbox" data-bind="checked:NotifyByEmailIfAnybodyAddedMyWishBook,event: { change: $root.ItemChanged }"/></td>
        </tr>
        <tr>
            <td class="span6">Дублировать личные сообщения</td>
            <td><input type="checkbox" data-bind="checked:DuplicateMessagesToEmail,event: { change: $root.ItemChanged }"/></td>
        </tr>
    </table>
    
   @* <button class="btn btn-success apply-btn" data-bind="enable:$root.emailApplyButtonIsVisible,click:$root.applySettings">Применить</button>*@
</div>

<div class="notifications-content">
    <p class="notification-settings-label">Укажите сервисы для оповещения</p>
    
    <table class="table email-settings-table" data-bind="foreach: Services">
        <tr>
            <td class="span6"><img data-bind="attr: { src: LogoUrl }"/></td> 
            <td  data-bind="template: { name: IsEmailConfirmed() ? 'check-service-template' : 'alert-template' }"></td> 
        </tr>
    </table>
    
    <button class="btn btn-success apply-btn" data-bind="enable: $root.applyButtonIsVisible, click: $root.applySettings">Применить</button>
</div>
<!-- /ko-->

<script type="text/html" id="check-service-template">
  <input type="checkbox" data-bind="checked: IsChecked, event: { change: $root.ItemChanged }"/>
</script>

<script type="text/html" id="alert-template">
    <img class="alert-image" src="/Images/alert.png" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="" />
</script>

<style>
    .alert-image {
        max-width: none;
    }
</style>
<script>
    $('.alert-image').popover(
        {
            content: function () {
                 return $($("#alert-body")[0]).html();
            },
            html:true
        });
</script>

<script type="text/html" id="alert-body">
    <div style="text-align: justify">
         <p>Мы не шлём уведомления на непроверенные почтовые ящики во избежание спама. Нажмите ссылку ниже для получения подтверждающего письма. </p>
         <a href="#">Получить линк подтверждения</a>
    </div>  
</script>