@{
    ViewBag.Title = "Index";
}

<form action="/devtools/migratepasswords" method="POST">
    <input type="submit" value="migrate passwords"/>
</form>

<form action="/devtools/migrateaccounts" method="POST">
    <input type="submit" value="migrate accounts"/>
</form>

