@{
    ViewBag.Title = "Index";
}

<form action="/devtools/migratepasswords">
    <input type="submit" value="migrate passwords"/>
</form>

<form action="/devtools/migrateaccounts">
    <input type="submit" value="migrate accounts"/>
</form>

