    <style>
        .feedback-area {
            bottom: 400px;
            right: 0;
            position: fixed;
        }
    </style>

    <div class="feedback-area">
        <div class="btn-group">
            <a href="#" class="btn btn-primary">Отзывы
            </a>
            <a class="btn hide"></a>
        </div>
    </div>
