@model BrainShare.ViewModels.UserItemViewModel

<div class="well">
    Вы успешно поменялись книгами с @Model.UserName, вы можете <a href="/profile/message/to/@Model.UserId">Отправить сообщение</a> этому пользователю и договориться о встрече.
</div>