@model BrainShare.Documents.ActivityFeed

<a href="#">@Model.Items.First().UserName</a> поменял свою книгу <a href="#">@Model.Items.First().BookTitle</a> на книгу <a href="#">@Model.Items[1].BookTitle</a> пользователя <a href="#">@Model.Items[1].UserName</a>