@model IEnumerable<BrainShare.Documents.ActivityFeed>
@{
    ViewBag.Title = "Home Page";
}
<h2>Активность</h2>

@foreach(var item in Model)
{
    <tr></tr>
}

 <table class="table table-condensed table-striped">
      
        <tbody>
            @foreach(var item in Model)
{
    <tr>
        <td>    @Html.Partial(item.ActivityType.ToString(),item)</td>
    
    </tr>
}

        </tbody>
    </table>