@using BrainShare.Documents
@helper UserLink(ActivityFeedItem item)
{
    <a href="/profile/view/@item.UserId">@item.UserName</a>
}

@helper BookLink(ActivityFeedItem item, bool isWish = false)
{
    <a href="/books/info/@(isWish ? "wish/": "")@item.BookId">@item.BookTitle</a>
}