@using BrainShare.Documents
@helper UserLink(ActivityFeedItem item)
{
    <a href="/profile/view/@item.UserId">@item.UserName</a>
}

@helper BookLink(ActivityFeedItem item)
{
    <a href="/books/info/@item.BookId">@item.BookTitle</a>
}