@model ViewModels.GiftExchange

@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <p>Пользователь <a style="margin: 0 6px 0 6px" href="@Model.OwnerProfileLink">@Model.OwnerFullName</a> подарил вам книгу <a style="margin: 0 6px 0 6px;font-weight: bold" href="@Model.BookLink">@Model.BookTitle</a></p>
    </div>
</body>
</html>

