@model BrainShare.EmailMessaging.ViewModels.Welcome

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Здравствуйте @Model.ReceiverName !</p> 
        <p>Добро пожаловать на наш портал! Здесь вы можете обмениваться книгами и журналами с другими пользоватлями.</p>
    </div>
</body>
</html>
