@{
    ViewBag.Title = "CreateNew";
    //Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

@*<h2>Create new shell  <a class="btn btn-success" href="/Shell/Index">Back</a></h2>


<style>
    h2 a {
        float: right;   
    }
</style>*@

@using Newtonsoft.Json
@model BrainShare.ViewModels.CreateShellViewModel

@{
    ViewBag.Title = "Редактировать информацию";
}

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="~/Scripts/jquery.geocomplete.min.js"></script>

<!-- ko with: model-->
<form style="padding-top: 1em;" class="form-horizontal" data-bind="submit: $root.save">

    @Html.Partial("KnockoutSummary")

    <div class="span6">
       <div class="control-group">
            <label class="control-label">
              Выберите ваше положение на карте
            </label>
            <div class="controls">
                <input style="margin-top: 0.5em;" id="geocomplete" placeholder="введите город" name="original_address" type="text" data-bind="value: FormattedAddress()" />
                <span style="color:red;font-size: 18px;">&nbsp;*</span>
            </div>
        </div>
      
        <div class="control-group">
            <label class="control-label" for="Name">
                Имя полки 
            </label>
            <div class="controls">
                <input type="text" data-bind="value: Name" id="Name">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="LocalPath">
                Уточните положение 
            </label>
            <div class="controls">
                <input type="text" data-bind="value: LocalPath" id="LocalPath">
            </div>
        </div>
        <div id="locationValues" class="hide">
            <input id="route" name="route" type="hidden">
            <input type="hidden" name="lat" id="lat"/>
            <input type="hidden" name="lng" id="lng"/>
            <input id="street_number" name="street_number" type="hidden">
            <input id="formatted_address" name="formatted_address" type="hidden" >     
            <input id="country" name="country" type="hidden" data-geo="street_number">
        </div>

    </div>
    <div class="span5">
        <div class="thumbnail">
            <div class="map_canvas" style="height: 400px">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Готово
        </button>
        @Html.ActionLink("Отмена", "Index", "Profile", null, new { @class = "btn btn-danger" })
    </div>
</form>
<!-- /ko -->

<script type="text/javascript">
    
    function EditProfileModel (data, submitUrl) {
        var self = this;
        this.model = ko.mapping.fromJS(data);
       
        this.save = function () {
            console.log(ko.mapping.toJS(self.model));
            sendModel(submitUrl,self.model, function (model) {
   
                if (model.Errors.length == 0) {
                    window.location.href = "/Shell/Index";
                }
            });          
        };

        this.updateResults = function() {
            self.model.Lng($("#lng").val());
            self.model.Lat($("#lat").val());
            self.model.Route($("#route").val());
            self.model.Country($("#country").val());
            self.model.StreetNumber($("#street_number").val());
            self.model.FormattedAddress($("#formatted_address").val());
        };
    }
    

    $(function () {

        var model = new EditProfileModel(@Html.Raw(JsonConvert.SerializeObject(Model)), "/shell/create-new");
        ko.applyBindings(model);

        $("#geocomplete").geocomplete({
            map: '.map_canvas',
            details: "#locationValues",
            location: '@Html.Raw(Model.FormattedAddress)'
        }).bind("geocode:result", function(event, result) {
            model.updateResults();
        });
    
    });

</script>

<style>
    input {
        width: 280px;   
    }
</style>



