@model BrainShare.ViewModels.ShellsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}


@if (!Model.Shells.Any())
{
    <h3>You havent got any shells. Try to create one</h3>
    <a class="btn btn-primary" href="/Shell/create-new">Create</a>
}
else
{
    <h4>Полки сделанные мною</h4>
    foreach (var shell in Model.Shells)
    {
         <p>@shell.Name</p>
    }
    <p>Создать ещё одну полку  &nbsp; &nbsp; &nbsp; <a class="btn btn-primary" href="/Shell/create-new">Создать полку</a></p>
  
}
<style>
  
</style>
