@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form action="@Url.Action("UpdateBooksUserData")">
        <input type="submit" value="Update Books User Data" />
    </form>
</div>