body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.color-black {
    color: black;
}

.color-orange {
    color: orange;
}

.underline {
    text-decoration: underline;
}


.bold {
    font-weight: bold;
}

.book-item {
    width: 180px;
    cursor: pointer;
}

    .book-item:hover {
        background-color: lightcyan;
    }

.user-icon {
    cursor: pointer;
}

    .user-icon:hover {
        background-color: #D5FCDE;
    }

.navbar .brand {
    font-weight: bold;
    color: orange;
}

.book-image-col {
    width: 128px;
}

.book-item .thumbnail {
    height: 365px;
    overflow: hidden;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.sidebar-nav .well {
    padding: 8px 0;
}

.datepicker td, .datepicker th {
    color: #fff;
}

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #888;
}

.field-validation-error {
    margin-left: 1em;
    color: coral;
}

.validation-summary-errors {
    color: coral;
    padding-bottom: 10px;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    cursor: pointer;
    background-color: lightcyan!important;
}
.required-field-symbol {
    color:red;
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.btn-facebook {
    text-decoration: none;
    background-image: url(/Images/fb_signup_empty.png);
    padding: 8px 10px 8px 45px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.btn-vk {
    text-decoration: none;
    background-image: url(/Images/vk_signup_empty.png);
    padding: 8px 10px 8px 45px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.btn-facebook:hover {
    text-decoration:none;
    color:azure;
}
