body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.color-black {
    color: black;
}

.color-orange {
    color: orange;
}

.underline {
    text-decoration: underline;
}


.bold {
    font-weight: bold;
}

.book-item {
    width: 180px;
    cursor: pointer;
}

    .book-item:hover {
        background-color: lightcyan;
    }

.navbar .brand {
    font-weight: bold;
    color: orange;
}

.navbar-inner {
    height: 55px;
}

.book-image-col {
    width: 128px;
}

.book-item .thumbnail {
    height: 350px;
}