
.avatar-container {
    text-align: center;
    padding: 20px;
    /*background-color: #ecf0f1;*/
}

.error-mesage {
    color: red;
}

#progress {
    position: relative;
    top: 18px;
    width: 630px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 8px;
}

.custom-progress-bar {
    background-color: #ccff33;
    width: 0%;
    height: 15px;
    border-radius: 8px;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

.custom-progress-bar-percent {
    position: absolute;
    display: inline-block;
    bottom: -3%;
    font-size: 0.8em;
    color: rgb(140, 141, 136);
    left: 44%;
}


#previewContainer {
    z-index: 110;
    position: absolute;
    top: 10%;
    left: 35%;
    padding: 20px;
    background-color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #252525;
    filter: alpha(opacity=80);
    opacity: 0.8;
    text-align: center;
    z-index: 100;
}

button.vote {
    outline-color: transparent;
    display: block;
    border: none;
    background-color: transparent;
}

.vote.up:hover {
    color: rgb(117, 211, 117);
}

    .vote.up:hover:disabled {
        color: rgb(109, 109, 109);
    }

.vote.down:hover {
    color: rgb(250, 104, 104);
}

    .vote.down:hover:disabled {
        color: rgb(109, 109, 109);
    }
