
<p>Есть два способа обменять свою книгу на другую, которая вам нужнее. А тем более, что ваша книга наверняка тоже кому-то нужна.</p>

<p><strong>Первый способ </strong>- это если вы знаете что вам надо и вы нашли эту книгу у кого-то из пользователей сервиса. Это значит вам просто надо отправить запрос и жжать ответа.
    Как это сделать подробно описано здесь <a href="@Url.Action("HowToSearchBook")">Как найти книгу?</a>.
</p>
<p><strong>Второй способ</strong> - это если вам пришел запрос на обмен на оду из книг в вашей коллекции. При этом вы получите уведомление на email, 
    а так же все входящие запросы отображаются на странице <a href="#">Входящие</a></p>
<div class="thumbnail">
    <img src="~/Content/help/inbox_crop.png" />
</div>
<br/>
<p>Здесь видно кто и какие книги хочется у вас поменять. Чтобы принять предложение и или отказаться нажмем кнопку <a href="#" class="btn btn-small">Рассмотреть</a> напротив интересующего запрос.</p>
<div class="thumbnail">
    <img src="~/Content/help/accept_crop.png" />
</div>
<br/>
<p>На этой странице уже можно подробнее рассмотреть входящее предложение. Если вы нажмете на кнопку <a href="#" class="btn btn-danger">Отказать</a>, запрос будет отклонен. 
    Внизу страницы отображаются книги пользователя которы прислал запрос. Если у него есть книги которые вы ищите, они будут выделены цветом.
    Чтобы принять запрос достаточно нажать на кнопку <a href="#" class="btn btn-small">Поменяться</a> напротив нужной книги. 
    Готово! И вам и пользователю, с которым вы произвели обмен, придет уведомления на email. 
    Вы можете договориться о встрече в личных сообщениях и произвести обмен.
</p>

@Html.Partial("Disquas")