
<p>Если  вам очень нужна какая-либо книга и вы готовы дать свою в замен, то у нас есть отиличный способ помочь вам. </p>
<p>Подозреваем вы уже добавили пару книг, которые готовы отдать взамен но ту, которые мы сейчас собираемся попросить у кого-нибудь. 
    Если нет, то можно это сделать сейчас. А как - написано здесь <a href="@Url.Action("HowToAddBook")">Как добавить книгу в коллекцию?</a>. 
    Если у вас не будет книг в коллекции, вы конечно сможете послать запрос на обмен, но вам на него не смогут ответить кроме как отказом, 
    пока вы не добавите парочку книг в свою коллекцию.
</p>
    
<p>Итак, чтобы попросить у кого-нибудь нужную вам книгу, её сначало надо добавить в список книг, которые вы ищите. 
    Для этого перейдем на страницу <a href="@Url.Action("Search","Books")">Искать</a> и введите в поле поиска название книги, которая вам нужна.
</p>
<div class="thumbnail">
    <img src="~/Content/help/seach_mongodb_crop.png" />
</div>
<br/>
<p>Затем в результатах поиска найдите именно ту книгу, которая вам нужна и нажмите кнопку <a class="btn btn-primary">Мне нужна</a></p>
<div class="thumbnail">
    <img src="~/Content/help/seach_mongodb_results_crop.png" />
</div>
<br/>
<p>Готово! Теперь вы добавили книгу к себе в скрисок книг, которые вы ищите. Вас перенаправит на страницу с информацие о книге, комментариями,
     а так же со списком пользователей у которых эта книга есть, и которые, возможно, не прочь её на что-нибудь обменять.
</p>
<div class="thumbnail">
    <img src="~/Content/help/take_learning_sql_crop.png" />
</div>
<br/>
<p>
    С это странице вы можете отправить кому-то запрос на обмен. Возможно вы сначала захотите открыть профиль пользователя и посмотреть какие книги есть у него.
    Даже если список пользователей у которых есть эта книга пуст, все равно все будут знать что вы ищите эту книгу. И если однажды кто-то захочет её поменять, 
    он сможет запросто вас найти, так как вы будете в списке тех кто ищет эту книгу.
    Посмотреть весь список книг которые вы ищите можно на странице <a href="#">Я ищу Книги</a>.
    Другие пользователи будут видеть что вы ищите эти книги, и смогут предложить вам поменяться на что-нибудь из вашей коллекции.
    <a href="@Url.Action("HowToExchangeBook")">Как обменяться книгами?</a>
</p>