

<p>Чтобы добавить книгу перейдите на страницу <a href="#">Искать</a> и введите в поле поиска название книги.</p>
<div class="thumbnail">
    <img src="~/Content/help/search_croped.png" /></div>
<br/>
<p>Затем в результатах поиска найдите именно ту книгу, которая у вас есть, и нажмите на кнопку <a class="btn btn-primary">У меня есть</a></p>
<div class="thumbnail">
    <img src="~/Content/help/search-results-croped.png" /></div>
<p>Готово! Теперь вы добавили книгу к себе в коллецию, и всегда можете посмотреть её на странице <a href="#">Мои Книги</a>.
    Другие пользователи смогут вам предложить обменяться этой книгой на что-нибудь из их коллекции. 
    Вы же можете принять запрос если вас заинтересовало их предложение, либо отклонить его. 
    Наличие у вас какой-либо книги в коллекции <strong>не обязывает</strong> вас ею менять. 
    Она может весеть у вас там вечно или все же до момента, когда вам сделают предложение об обмене от которого вы не сможете отказаться.
</p>

@Html.Partial("Disquas")