<ul class="nav nav-pills nav-stacked">
    <li><a href="@Url.Action("HowToAddBook")">Как добавить книгу в коллекцию?</a></li>
    <li><a href="@Url.Action("HowToSearchBook")">Как найти книгу?</a></li>
    <li><a href="@Url.Action("HowToExchangeBook")">Как обменяться книгами?</a></li>
</ul>
