@model BrainShare.ViewModels.EmailUserHaveSearechedBookModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>У пользователя  @Model.Owner.FullName появилась разыскиваемая вами книга</p>
        <p>@Model.Book.Title</p>
    </div>
</body>
</html>


