@model BrainShare.ViewModels.RequestViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Ваш запрос к пользователю <a style="margin:0 6px 0 6px" href="@Model.RequestedUserProfileLink">@Model.RequestedUser.FullName </a>  на книгу <a href="@Model.RequestedBookLink" style="font-weight:bold;margin:0 6px 0 6px">@Model.Book.Title</a> отправлен.</p>
    </div>
</body>
</html>
