@model BrainShare.Documents.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Здравствуйте @Model.FullName ! Добро пожаловать на наш портал! Здесь вы можете обмениваться книгами и журналами с другими пользоватлями.</p>
        <p>Ваш пароль : @Model.Password</p>
    </div>
</body>
</html>
