@using Newtonsoft.Json
@model BrainShare.Controllers.AcceptRequestViewModel

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/acceptRequestFrom.js")"></script>
    <script type="text/javascript">
        var model = new AcceptRequestModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    </script>
}

<div class="row">
    <div class="span6">
        <h4>Входящий запрос на вашу книгу</h4>
        @Html.Partial("DetailsPartial", Model.YourBook)
    </div>
    <div class="span6">
        <h4 data-bind="text: От пользователя fromUser.UserName"></h4>
        <a class="btn btn-info" href="#" data-bind="click: sendMessage">Отправить сообщение</a>
        <p data-bind="text: fromUser.Email"></p>
        <a class="btn btn-danger" href="#" data-bind="click: reject">Отказать</a>
    </div>
</div>
<div>
    @if (Model.BooksYouNeed.Count > 0)
    {
        <div>
            <h6 data-bind="text: Книги пользователя fromUser.UserName, которые вам нужны"></h6>
            <table class="table table-condensed">
                <tbody data-bind="foreach: booksYouNeed">
                    <tr class="success">
                        @*<td>
                            <img data-bind="src: Image" />
                        </td>*@
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Authors"></td>
                        <td data-bind="text: Subtitle"></td>
                        <td data-bind="text: Publisher"></td>
                        <td data-bind="text: PublishedDate"></td>
                        <td data-bind="text: PageCount"></td>
                        <td>
                            <a class="btn btn-small" href="#" data-bind="click: $root.exchange">Поменяться</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    <div>
        <h6 data-bind="text: Все книги пользователя fromUser.UserName"></h6>
        <table class="table table-condensed">
            <tbody data-bind="foreach: allBooks">
                <tr>
                    @*<td>
                            <img src="@item.Image" />
                        </td>*@
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Authors"></td>
                    <td data-bind="text: Subtitle"></td>
                    <td data-bind="text: Publisher"></td>
                    <td data-bind="text: PublishedDate"></td>
                    <td data-bind="text: PageCount">стр </td>
                    <td>
                        <a class="btn btn-small" href="#" data-bind="click: $root.exchange">Поменяться</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
