<!-- ko with: model-->

<div class="pull-right text-center" id="bookImgContainer" style="width: 140px;">
    <label class="control-label text-center" style="padding-bottom: 0.5em;">Картинка</label>
    <img data-bind="attr: { src: Image }" alt="Book image" />
    <div style="padding-top: 1em;">
        <a href="#" data-bind="click: $root.UploadImg, visible: !$root.ImageIsLoading()">Загрузить картинку</a>
        <div id="bookImgBar" style="display: none; width: 130px;" class="custom-progress-bar" data-bind="visible: $root.ImageIsLoading()">
            <div id="bookImgBarPercent" class="custom-progress-bar-percent"></div>
        </div>
        <p style="padding-top: 1em;" class="error-mesage"></p>
    </div>


    <div class="control-group">
        <div style="display: none">
            @using (Html.BeginForm("UploadBookImage", "Books", FormMethod.Post, new { enctype = "multipart/form-data", id = "bookImgForm" }))
            {
                <input type="file" name="bookImgFile" id="bookImgFile" />
                <button type="submit" id="uploadBookImage" class="btn btn-primary">Upload</button>
            }
        </div>
    </div>
</div>

<form class="form-horizontal" data-bind="submit: $root.save">

    <fieldset>

        @Html.Partial("KnockoutSummary")

        <div class="control-group">
            <label class="control-label">Название</label>
            <div class="controls">
                <input type="text" data-bind="value: Title" required="required" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Подзаголовок</label>
            <div class="controls">
                <input type="text" data-bind="value: Subtitle" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Издатель</label>
            <div class="controls">
                <input type="text" data-bind="value: Publisher" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Дата Издания</label>
            <div class="controls">
                <input id="publishedDate" type="text" data-bind="value: PublishedDate" required="required" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Кол-во страниц</label>
            <div class="controls">
                <input type="number" min="0" data-bind="value: PageCount" class="input-xlarge">
            </div>
        </div>
       <div class="control-group">
            <label class="control-label">ISBN</label>
            <div data-bind="foreach: { data: ISBNs, as: 'isbn' }">
                <div class="controls">
                    <input type="text" data-bind="value: isbn.Value" required="required" class="input-xlarge">
                    <button class="btn btn-mini btn-success" data-bind="click: $root.addISBN"><i class="icon-plus"></i></button>
                    <button class="btn btn-mini btn-danger" data-bind="click: $root.removeISBN"><i class="icon-remove"></i></button>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Автор(ы)</label>
            <div data-bind="foreach: { data: Authors, as: 'author' }">

                <div class="controls">
                    <input type="text" data-bind="value: author.Value" required="required" class="input-xlarge">
                    <button class="btn btn-mini btn-success" data-bind="click: $root.addAuthor"><i class="icon-plus"></i></button>
                    <button class="btn btn-mini btn-danger" data-bind="click: $root.removeAuthor"><i class="icon-remove"></i></button>
                </div>

            </div>
        </div>
        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label" for="selectbasic">Язык</label>
            <div class="controls">
                <select required="required" data-bind="options: Languages, optionsText: 'NativeName', value: Language, optionsCaption: 'Выберете язык...', optionsValue: 'Symbol'" class="input-xlarge"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Описание</label>
            <div class="controls">
                <textarea style="width: 300px; height: 200px" data-bind="value: SearchInfo" class="input-xlarge">
                </textarea>
            </div>
        </div>
        <div class="form-actions">
            @Html.Partial("SubmitBtn")
            @Html.Partial("PreviousPageBtn")
        </div>
    </fieldset>
</form>

<!-- /ko -->
