<h4>Выберите метод</h4>
<div class="well span8">
    <a class="btn btn-block btn-large btn-primary" href="@Url.Action("Search")">Найти книгу через Google Books</a>
    <a class="btn btn-block btn-large btn-primary" href="@Url.Action("Add")">Добавить книгу вручную</a>
</div>