@using Newtonsoft.Json
@model BrainShare.ViewModels.AcceptRequestViewModel

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Books/acceptRequestFrom.js")"></script>
    <script type="text/javascript">
        $(function () {
            var model = new ConsiderRequestModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}

<div class="row" style="padding-left: 1em; padding-top: 1em">
    <div class="span3">

        @Html.Partial("DetailsPartial", Model.YourBook)
    </div>
    <div class="span9" style="padding-left: 2em;">
        <h5 style="padding-bottom: 1em;">Входящий запрос на вашу книгу от пользователя <a style="padding-left: 0.5em" href="#" data-bind="click: viewUser, text: fromUser.UserName"></a></h5>
        <button style="width: 195px" class="btn btn-info" data-bind="click: sendMessage">Отправить сообщение</button>
        <button style="width: 195px; margin-left: 1.5em;" class="btn btn-danger" data-bind="click: reject">Отказать</button>
    </div>
</div>

<div class="row" style="padding-left: 1em">
    <div>
        <div style="padding-top: 1em; padding-bottom: 1em;" class="text-center">
            <h5>Все книги пользователя</h5>
        </div>
        <table class="table table-condensed table-hover">
            <tbody data-bind="foreach: allBooks">
                <tr data-bind="css: { success: $root.booksYouNeedTitles().indexOf(Title) >= 0 }">

                    <td style="width: 25%" class="book-image-col">
                        <img data-bind="attr: { src: Image }" />
                    </td>
                    <td style="width: 25%"><a href="#" data-bind="text: Title, click: $root.viewBook"></a></td>
                    <td style="width: 25%" data-bind="text: Authors"></td>
                    <td style="width: 15%" data-bind="text: Publisher"></td>
                    <td style="width: 20%">
                        <a style="margin-top: 1em" class="btn btn-success" href="#" data-bind="click: $root.exchange">Поменяться</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 hre