@using Newtonsoft.Json
@model BrainShare.Controllers.BookViewModel


<div class="thumbnail">
    <img style="padding-top: 5%" data-bind="attr: { src: book.Image }" />
    <div style="text-align: center; padding: 10px;">
        <a class="edit-book-link" data-bind="attr: { href: '/books/edit/' + book.Id }">Редактировать</a>
    </div>
</div>

<style>
    .edit-book-link {
        color: #C9A30D;
        text-decoration: none;
    }

        .edit-book-link:hover {
            color: rgb(247, 211, 27);
            text-decoration: none;
        }
</style>
