@using Newtonsoft.Json
@model BrainShare.ViewModels.BookViewModel


<div class="thumbnail">
    <img style="padding-top: 5%; padding-bottom: 5%;" data-bind="attr: { src: book.Image }" />
    <strong class="text-center" style="display: block; padding-top: 5%; padding-bottom: 5%" data-bind="text: book.Title"></strong>
</div>