@using Newtonsoft.Json
@model BrainShare.ViewModels.BookViewModel


<div class="thumbnail">
    <img style="padding-top: 5%; padding-bottom: 5%;" src="@Model.Image" />
    <strong class="text-center" style="display: block; padding-top: 5%; padding-bottom: 5%">@Model.Title</strong>
</div>