@using Newtonsoft.Json
@model BrainShare.Controllers.EditBookViewModel

<script type="text/javascript">
    $(function () {

        var model = new EditBookViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)), '/books/edit');
        ko.applyBindings(model);
    });

</script>
<h4>Редактировать</h4>

@Html.Partial("BookFormPartial")
