@using Newtonsoft.Json
@model BrainShare.Controllers.EditBookViewModel

<script type="text/javascript">
    $(function () {

        var model = new EditBookViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)), '/books/edit');
        ko.applyBindings(model);
        $('#publishedDate').datepicker({
            format: "yyyy M",
            minViewMode: 1,
            language: "ru"
        });
    });

</script>
<h4>Редактировать</h4>

@Html.Partial("BookFormPartial")
