@model BrainShare.Documents.User

<div class="well">
    Вы успешко поменялись книгами с @Model.FullName, вы можете <a href="/profile/message/to/@Model.Id">Отправить сообщение</a> этому пользователю и договориться о встрече.
</div>