@using Newtonsoft.Json

<script type="text/javascript">
    $(function () {

        var model = new AllBooksModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<div class="row-fluid">
    <h4>Последнии добавленные</h4>
    <ul class="thumbnails" data-bind="foreach: items">
        <li  class="book-item">
            <div class="thumbnail" data-bind="click: $root.info">
                <img style="width: 128px;" data-bind="attr: { src: Image }" />
                <div class="caption">
                    <strong class="color-black" data-bind="text: Title"></strong>
                    <div> <span data-bind="text: PublishedDate"></span></div>
                   
                    <div> <span class="color-black" data-bind="text: Authors"></span></div>
               
                <span class="label" data-bind="    text: PageCount"></span>стр.

                </div>
                
            </div>
        </li>
    </ul>
</div>
