@using Newtonsoft.Json
@model List<string>

<script type="text/javascript">
    $(function () {

        var model = new AddBookModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<h4>Импортировать книг с сервиса Goggle Books</h4>

<form class="form-inline" data-bind="submit: search">
  
<select class="span2" data-bind="event: {change: languageChanged} , options: availableLanguages, optionsText: 'title', optionsValue: 'code', value: selectedLanguage" ></select>

    <input type="text" data-bind="value: query" />
    @*<select class="span2" data-bind="options: searchTypes, optionsText: 'title', optionsValue: 'code', value: searchType" ></select>*@
    <button type="submit" class="btn btn-success">Искать</button>
    <img style="width: 30px; height: 30px;" data-bind="visible: loading"  src="~/Images/loading.gif" />
</form>

@Html.Partial("_BooksList")