@using Newtonsoft.Json
@model List<string>

<script type="text/javascript">
    $(function () {

        var model = new AddBookModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<form class="form-inline" data-bind="submit: search">
  
<select class="span2" data-bind="event: {change: languageChanged} , options: availableLanguages, optionsText: 'title', optionsValue: 'code', value: selectedLanguage" ></select>

    <input type="text" data-bind="value: query" />
   @* <select class="span2" data-bind="options: searchTypes, optionsText: 'title', optionsValue: 'code', value: searchType" ></select>*@
    <button type="submit" class="btn btn-success">Search</button>
    <img style="width: 30px; height: 30px;" data-bind="visible: loading"  src="~/Images/loading.gif" />
</form>


<style>
    .books .span3 {
        margin-left: 0px;
        margin-right: 20px
    }
</style>
<div class="row-fluid">
    
     <div>
         <table class="table table-condensed">
                <tbody data-bind="foreach: items">
                        <tr>
                            <td>
                                
                <!-- ko with: volumeInfo.imageLinks -->
        
                                   <img data-bind="attr: { src: thumbnail }" />
                                                <!-- /ko -->
                            </td>
                            <td >
                                <strong data-bind="text: volumeInfo.title"></strong> 
                                <br/>
                                <span data-bind="text: volumeInfo.subtitle"></span>
                            </td>
                            <td >
                                
                                 <span data-bind="foreach: volumeInfo.authors" >
                        <span data-bind="text: $data"></span> 
                    </span> 
                            </td>
                            <td>
                        <span data-bind="text: volumeInfo.publisher"></span>
                        <strong data-bind="text: volumeInfo.publishedDate"></strong>
                        <span class="label" data-bind="text: volumeInfo.pageCount"></span> стр. </td>

                            <td>
                                <div class="well well-small">
                                    <a href="#" class="btn btn-info btn-block" data-bind="click: $root.info">Информация</a>
                                    <a href="#" class="btn btn-primary btn-block" data-bind="visible: ($root.owned().indexOf(id) == -1), click: $root.give">У меня есть</a>
                                    <a href="#" class="btn btn-success btn-block" data-bind="click: $root.take">Мне нужна</a>
                                </div>
                                
                                
                            </td>
                                
                        </tr>
                </tbody>
            </table>
    </div>
</div>
