@using Newtonsoft.Json
@model List<string>

<script type="text/javascript">
    $(function () {

        var model = new AddBookModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    });

</script>

<form class="form-inline" data-bind="submit: search">
  
<select class="span2" data-bind="event: {change: languageChanged} , options: availableLanguages, optionsText: 'title', optionsValue: 'code', value: selectedLanguage" ></select>

    <input type="text" data-bind="value: query" />
   @* <select class="span2" data-bind="options: searchTypes, optionsText: 'title', optionsValue: 'code', value: searchType" ></select>*@
    <button type="submit" class="btn btn-success">Search</button>
    <img style="width: 30px; height: 30px;" data-bind="visible: loading"  src="~/Images/loading.gif" />
</form>


<style>
    .books .span3 {
        margin-left: 0px;
        margin-right: 20px
    }
</style>
<div class="row-fluid">
    <ul class="thumbnails books" data-bind="foreach: items">
        <li style="width: 250px">
            <div class="thumbnail">
                <!-- ko with: volumeInfo.imageLinks -->
        
                <img data-bind="attr: {src: thumbnail}" />
    <!-- /ko -->
                <div class="caption">
                    <h5 data-bind="text: volumeInfo.title"></h5>
                    <p data-bind="text: volumeInfo.subtitle"></p>
                    
                    <p>
                          <span data-bind="text: volumeInfo.publisher"></span>
                    <strong data-bind="text: volumeInfo.publishedDate"></strong>
                    <span class="label" data-bind="text: volumeInfo.pageCount"></span> стр.
                    </p>
                    <strong>Авторы</strong>
                    <ul data-bind="foreach: volumeInfo.authors" >
                        <li data-bind="text: $data"></li>
                    </ul>
                   

                    @*  <p data-bind="text: volumeInfo.description">
                    </p>*@
                    <p>
                        <a href="#" class="btn btn-primary" data-bind="visible: ($root.owned().indexOf(id) == -1), click: $root.give">Give</a>
                        <a href="#" class="btn" data-bind="click: $root.take">Take</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
