@model BrainShare.Controllers.TakeBookViewModel

@if (Model.Book != null)
{
 
    {
        ViewBag.Title = Model.Book.Title;
    }
    @Html.Partial("Details", Model.Book)
}
<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var owner in Model.Owners)
            {
                <tr>
                    <td>@owner.UserName </td>
                    <td>
                        <a class="btn btn-small" href="#">Профиль</a>
                        <a class="btn btn-small" href="/books/take/@Model.Id/from/@owner.UserId">Отослать запрос
                            на обмен</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
