@model BrainShare.Controllers.TakeBookViewModel

@if (Model.Book != null)
{
 
    {
        ViewBag.Title = Model.Book.Title;
    }
    @Html.Partial("Details", Model.Book)
}
<div>
    <h4>Пользователи которые меняют эту книгу</h4>
    <table class="table table-condensed table-striped">
      
        <tbody>
            @foreach (var owner in Model.Owners)
            {
                <tr>
                    <td>@owner.UserName </td>
                    <td>
                        <a class="btn btn-small" href="#">Профиль</a>
                        <a class="btn btn-small" href="/books/take/@Model.Id/from/@owner.UserId">Отослать запрос
                            на обмен</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
