@{
    ViewBag.Title = "Index";
}

<p>Уважаемые пользователи, сдесь вы можете интегрировать своё сообщество в информационный поток нашего портала. К сожалению сервис vkontakte проводит
    политику направленную на развитие desktop'ных мессенджеров и урезает функционал своего api для сайтов.Для подключения вашего сообщества вам надо сделать
    следующие шаги:
</p>

<p>Шаг 1.</p>
<p>Нажмите кнопку <span>Получить код</span></p>

<p>Шаг 2.</p>
<p>Перейдите на новую открывшуюся вкладку</p>

<p>Шаг 3.</p>
<p>Скопируйте всю адресную строку</p>

<p>Шаг 4.</p>
<p>Вернитесь на эту же страницу и завершите подключение</p>

<form action="/addvksociety/step1">
    <h2>Шаг 1</h2>
    <button type="submit" class="btn btn-success">Получить код</button>
</form>

<form action="/addvksociety/step2">
    <h2>Шаг 4</h2>
    <button type="submit" class="btn btn-success">Завершить подключение</button>
    <input type="password" name="blankPageUrl"/>
</form>

