@using Newtonsoft.Json
@model BrainShare.ViewModels.NewsViewModel
@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

<script type="text/javascript" src="~/Scripts/Views/User/NewsListViewModel.js"></script>
<script type="text/javascript">
    $(function () {
        var model = new NewsListViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    })
</script>

<div class="span9" style="margin-left: 5%">
    <h4>Новости</h4>
    <table class="table table-condensed table-striped">
        <tbody data-bind="foreach: model.News">
            <tr>
                <td class="span7">
                    <span  data-bind="text: Title"></span>
                    <span class="badge badge-info" data-bind="visible: !WasRead()">new</span>
                </td>
                <td class="span2">
                    <a class="btn btn-small" href="#" data-bind="click: $root.openNews,text: IsVisible() ? 'Свернуть' : 'Посмотреть'">Посмотреть</a>
                </td>
            </tr>
            <tr data-bind="visible:IsVisible">
                <td colspan="2" data-bind="text:Message"></td>
            </tr>
        </tbody>
        <tfoot data-bind="visible: model.News().length == 0">
            <tr>
                <td>У вас нет новостей.</td>
            </tr>
        </tfoot>
    </table>
</div>

