@{
    ViewBag.Title = "UserWithFbIdAlreadyExist";
}


<div class="well text-center">
    
    <p>Данные вашего Facebook аккаунта уже используются для другого пользователя, пожалуйста авторизуйтесь под другим аккаунтом </p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Profile")">Назад</a>

</div>
