@using Newtonsoft.Json
@model BrainShare.ViewModels.InboxViewModel
@{
    Layout = "~/Views/Shared/_BooksLayout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/inbox.js")"></script>
    <script type="text/javascript">
        $(function () {
            var model = new InboxModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}


<div data-bind="visible: items().length > 0">
    <h4>Входящие</h4>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Книга</th>
                <th>Город</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">

            <tr>
                <td>
                    <a data-bind="attr: { href: User.UserProfile }, text: User.UserName"></a>
                    <span class="badge badge-warning" data-bind="visible: IsNew">new</span>
                </td>
                <td data-bind="text: BookTitle"></td>
                <td data-bind="text: User.City"></td>
                <td data-bind="text: Created"></td>
                <td>
                    <a class="btn btn-small btn-primary" href="#" data-bind="click: $root.consider">Рассмотреть</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div class="well" data-bind="visible: items().length == 0">
    <h4>Нету входящих запросов на обмен</h4>
    <p>Вы можете сами отправить запрос на обмен книгами со страницы <a href="/books">поиска</a> или написать приватное сообщение <a href="/users">любому пользователю</a>.</p>
</div>
