@using Newtonsoft.Json
@model BrainShare.Controllers.InboxViewModel
@{
    Layout = "~/Views/Shared/_BooksLayout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/inbox.js")"></script>
    <script type="text/javascript">
        $(function () {
            var model = new InboxModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}

<h4>Входящие</h4>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Книга</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">

        <tr>
            <td >
                <span data-bind="text: User.UserName"></span>
                <span class="badge badge-warning" data-bind="visible: IsNew">new</span>
            </td>
            <td data-bind="text: Book.Title"></td>
            <td data-bind="text: Created"></td>
            <td>
                <a class="btn btn-small" href="#" data-bind="click: $root.consider">Рассмотреть</a>
            </td>
        </tr>

    </tbody>
</table>

