@using Newtonsoft.Json
@model List<BrainShare.ViewModels.BookViewModel>
@{
    Layout = "~/Views/Shared/_BooksLayout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/myBooks.js")"></script>
    <script type="text/javascript">
        $(function() {
            var model = new MyBooksModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}

<div data-bind="visible: books().length > 0">
<h4>Моя книжная полка</h4>

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="span5">Название</th>
            <th class="span5">Автор(ы)    </th>
            <th class="span5"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: books">
        <tr>
            <td><a data-bind="text: Title, attr: {href: '/books/info/' + Id}"></a></td>
            <td data-bind="text: Authors"></td>
            <td>
                <a class="btn btn-small"  data-bind="attr: {href: '/books/edit/' + Id}">Редактировать</a>
                <a class="btn btn-danger btn-small" href="#" data-bind="click: $root.dontHave">Удалить</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
    <div class="well" data-bind="visible: books().length == 0">
    <h4>У вас нет книг :(</h4>
    <p>
        Вы можете добавить книгу выбрав из тех, которые уже <a href="/books/index">есть на
            сервисе</a>, либо 
        <a href="/books/search">импортировать</a>  с Google Books или же добавить книгу
        <a href="/books/add">самостоятельно</a>.
    </p>
</div>
