@using Newtonsoft.Json
@model List<BrainShare.Controllers.BookViewModel>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/myBooks.js")"></script>
    <script type="text/javascript">
        $(function() {
            var model = new MyBooksModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(model);
        });
    </script>
}

<h2>Мои Книги</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор(ы)    </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: books">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Authors"></td>
            <td>
                <a class="btn btn-small" href="#" data-bind="click: $root.dontHave">Уже нет</a>
            </td>
        </tr>
    </tbody>
</table>
