@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}


<ul class="nav nav-tabs">
    <li class="active"><a href="#">Общие</a></li>
    <li><a href="#">Оповещения</a></li>
    <li><a href="#">Приватность</a></li>
</ul>

<style>
        .nav-tabs>li>a {
padding-top:0px;
padding-bottom: 0px;
line-height: 21px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
            font-size: 12px;
            font-weight: bold;
      
}
    .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
color: #95a5a6;
cursor: default;
background-color: #2c3e50;
border: 1px solid #ddd;
      color: white;
/*border-bottom-color: transparent;*/
}
</style>
