@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}


@using Newtonsoft.Json
@model BrainShare.ViewModels.SettingsViewModel

<script src="~/Scripts/Views/Profile/SettingsViewModel.js"></script>

<div class="settings-header-wrapper">
    <!-- ko with: model -->
        <ul class="nav nav-tabs">
            <!-- ko foreach: Tabs -->
            <li data-bind="css:{ active :IsActive},click:$root.loadTab"><a href="#" data-bind="text:Title">Общие</a></li>
            <!-- /ko-->
        </ul>
    <!-- /ko-->
</div>

<div class="settings-body-wrapper"></div>

<script type="text/javascript">
    $(function () {
        var model = new SettingsViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model, $(".settings-header-wrapper")[0]);
    });
</script>
