@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}
@using Newtonsoft.Json
@model BrainShare.ViewModels.SettingsViewModel

<script src="~/Scripts/Views/Profile/SettingsViewModel.js"></script>
<script type="text/javascript">
    $(function () {
        var model = new SettingsViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        console.log(model);
        ko.applyBindings(model, $(".notifications-content")[0]);
    });
</script>
<div class="notifications-content">
    <!-- ko with: model -->
    <p class="notification-settings-label">Настройка оповещений</p>
    
    <table class="table email-settings-table">
        <tr>
            <td class="span6">Уведомлять о появление книг которее я ищу</td> 
            <td><input type="checkbox" data-bind="checked: NotifyByEmailIfAnybodyAddedMyWishBook, event: { change: $root.ItemChanged }"/></td>
        </tr>
        <tr>
            <td class="span6">Дублировать личные сообщения</td>
            <td><input type="checkbox" data-bind="checked: DuplicateMessagesToEmail, event: { change: $root.ItemChanged }"/></td>
        </tr>
    </table>
    
    <button class="btn btn-success apply-btn" data-bind="enable: $root.applyButtonIsVisible, click: $root.applySettings">Применить</button>
    <!-- /ko-->
</div>

