@using Newtonsoft.Json
@model BrainShare.Controllers.UserProfileModel

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/Profile/userProfile.js")"></script>
<script type="text/javascript">
    $(function () {
        var model = new UserProfileModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        ko.applyBindings(model);
    })
</script>
<p data-bind="text: user.Name"></p>
@*<h5>Профиль пользователя </h5>*@



<div class="pull-left">
    <div class="avatar-container">
        <img style="width: 250px; height: 250px;" alt="аватар" class="pics" data-bind="attr: { src: user.Avatar }" />
    </div>
    @if (!Model.IsMe)
    {
        <div>
            <a class="btn btn-small" href="#" data-bind="click: sendMessage">Отправить сообщение</a>
        </div>
    }

</div>





<div class="tabbable pull-left" style="width: 70%; padding-left: 5%;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#s1" data-toggle="tab">Книги пользователя</a></li>
        <li><a href="#s2" data-toggle="tab">Книги которые ищет пользователь</a></li>
        @* <li><a href="#s3" data-toggle="tab">Третья секция</a></li>*@
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="s1">

            <table class="table table-condensed">
                <tbody data-bind="foreach: listOfOwnedBooks">
                    <tr>
                        <td>
                            <img data-bind="attr: { src: Image }" />
                        </td>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Authors"></td>
                        <td data-bind="text: Subtitle"></td>
                        <td data-bind="text: Publisher"></td>
                        <td data-bind="text: PublishedDate"></td>
                        <td data-bind="text: PageCount"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="s2">
            <table class="table table-condensed">
                <tbody data-bind="foreach: listOfWishedBooks">
                    <tr>
                        <td>
                            <img data-bind="attr: { src: Image }" />
                        </td>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Authors"></td>
                        <td data-bind="text: Subtitle"></td>
                        <td data-bind="text: Publisher"></td>
                        <td data-bind="text: PublishedDate"></td>
                        <td data-bind="text: PageCount">стр </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    @*  <div class="tab-pane" id="s3">
            <p>Сейчас вы просматриваете содержимое третьей секции.</p>
        </div>*@
</div>

<!-- /.tabbable -->









@*<div class="btn-group-vertical pull-left">
    <button class="btn" data-bind="click: increaseReputation, enable: canIncrease" style="display: block"><i class="icon-chevron-up"></i></button>
    <span style="display: block">Votes: <span data-bind="text: summaryVotes"></span></span>
    <button class="btn" data-bind="click: decreaseReputation, enable: canDecrease" style="display: block"><i class="icon-chevron-down"></i></button>
</div>*@


@*<div class="clearfix"></div>*@

















<br />


@*<div>
     <button class="btn btn-success" data-bind="click: getOwnedBooks, visible: showOwnedBooksButton">Показать все книги пользователя</button>
    <div data-bind="visible: showOwnedBooks">
        <button class="btn btn-danger" data-bind="click: hideOwnedBooks">Cкрыть книги</button>
        <table class="table table-condensed">
            <tbody data-bind="foreach: listOfOwnedBooks">
                <tr class="success">
                    <td>
                        <img data-bind="attr: { src: Image }" />
                    </td>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Authors"></td>
                    <td data-bind="text: Subtitle"></td>
                    <td data-bind="text: Publisher"></td>
                    <td data-bind="text: PublishedDate"></td>
                    <td data-bind="text: PageCount"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <div>
        <button class="btn btn-primary" data-bind="click: getWishedBooks, visible: showWishedBooksButton">Показать книги которые ищет пользователь</button>
        <div data-bind="visible: showWishedBooks">
            <button class="btn btn-danger" data-bind="click: hideWishedBooks">Cкрыть книги</button>
            <table class="table table-condensed">
                <tbody data-bind="foreach: listOfWishedBooks">
                    <tr class="success">
                        <td>
                            <img data-bind="attr: { src: Image }" />
                        </td>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Authors"></td>
                        <td data-bind="text: Subtitle"></td>
                        <td data-bind="text: Publisher"></td>
                        <td data-bind="text: PublishedDate"></td>
                        <td data-bind="text: PageCount">стр </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
*@
